@model T_SerYearlyPriceView
@{

    var _json = JsonHelper.JsonPaser<T_SerYearlyPriceView>(Model);
}

@section js{




}
<style>
    .col-md-s1 {
        max-width: 120px;
        min-width: 110px !important;
        text-align: left !important;
    }
</style>
<link href="~/content/min/css/supershopui.common.min.css" rel="stylesheet" />
<link href="~/content/min/css/skin.css" rel="stylesheet" />
<div class="content " style="background: white; min-height: 10px">
    <div class="row" style=" margin-bottom 0px;">
        <div class="col-lg-12">
            <div class="bottombtn">
                <button type="button" class="btn btn-default btn-flat" onclick="saveFirst()" id="save" style="display:none">
                    <i class="fa  fa-edit "></i>&nbsp;保存
                </button>
                <button class="btn btn-default btn-flat" type="button" title="提交" onclick="submitCheck()" id="submit" style="display:none">
                    <i class="fa fa-paper-plane"></i>&nbsp;提交
                </button>
                <button class="btn btn-danger btn-flat" type="button" title="驳回" onclick="msg.loadBtn('service/BumdPriceManage/Option?Type=8016', '驳回', 600, 400);;" id="reject" style="display:none">
                    <i class="fa fa-close"></i>&nbsp;驳回
                </button>
                <button class="btn btn-danger btn-flat" type="button" title="废除" onclick="msg.loadBtn('service/BumdPriceManage/Option?Type=8017', '废除', 600, 400);" id="abolish" style="display:none">
                    <i class="fa fa-bomb"></i>&nbsp; 废除
                </button>
                <button type="button" class="btn fl btn-default btn-flat" data-toggle="collapse" data-parent="#accordion" href="#collapse" aria-expanded="true">
                    <i class="fa   fa-eye"></i>&nbsp;查看
                </button>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="">
                <div id="collapse" class="panel-collapse collapse in" aria-expanded="true" style="margin-bottom:10px">
                    <div style="line-height: 30px;padding-left: 10px;background: #eee;border: 1px solid #ddd;border-bottom: 0;">基本信息</div>
                    <div class="border-dashed">
                        <form class="form-horizontal pageform">
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-sm-4" style="display:none;">
                                        <div class="form-group">
                                            <label class="col-md-s1 s_layout control-label">
                                                订单ID：
                                            </label>
                                            <div class="col-md-s2 s_layout">
                                                <input type="text" class="form-control " must="单据ID" readonly="" id="SerYearlyPriceId" placeholder="订单ID" value="" disabled="disabled">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4" style="">
                                        <div class="form-group">
                                            <label class="col-md-s1 s_layout control-label">
                                                申请单：
                                            </label>
                                            <div class="col-md-s2 s_layout">
                                                <input type="text" class="form-control " readonly="" id="ApplyNo" placeholder="申请单" value="" disabled="disabled">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-4" style="">
                                        <div class="form-group">
                                            <label class="col-md-s1 s_layout control-label">
                                                申请人：
                                            </label>
                                            <div class="col-md-s2 s_layout">
                                                @Html.DropDownList("ApplicantId", (List<SelectListItem>)ViewBag.Users, new { @class = "form-control ecombox", @disabled = "disabled" })

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4" style="">
                                        <div class="form-group">
                                            <label class="col-md-s1 s_layout control-label">
                                                申请时间：
                                            </label>
                                            <div class="col-md-s2 s_layout">
                                                <input type="text" class="form-control  datepicker" id="CreateTime" placeholder="申请时间" disabled="disabled">  <i class="fa fa-calendar inputafter"></i>

                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-sm-4" style="">
                                        <div class="form-group">
                                            <label class="col-md-s1 s_layout control-label">
                                                申请价格类型<span style="color:red;font-size:12px">*</span>：
                                            </label>
                                            <div class="col-md-s2 s_layout">
                                                <select id="ApplyPriceType" class="form-control ecombox" must="申请价格类型" disabled="disabled">                                                  
                                                    <option value="1">年度经销商价</option>
                                                    @*<option value="2">一次性特价</option>*@
                                                </select>
                                            </div>
                                        </div>
                                    </div>




                                    <div class="col-sm-4" style="">
                                        <div class="form-group">
                                            <label class="col-md-s1 s_layout control-label">
                                                审批状态：
                                            </label>
                                            <div class="col-md-s2 s_layout">
                                                @Html.DropDownList("_Status", (List<SelectListItem>)ViewBag.StatusType, new { @class = "form-control ecombox", @disabled = "disabled", @id = "_Status" })

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4" style="clear:both">
                                        <div class="form-group">
                                            <label class="col-md-s1 s_layout control-label">
                                                备注：<span style="color:red;font-size:12px">*</span>
                                            </label>
                                            <div class="col-md-s2 s_layout">
                                                <textarea type="text" class="form-control " id="Remark" value=""  must="备注" disabled="disabled" style="height: 100px!important;resize: none;"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </form>
                    </div>
                    @{
                        var isShow = (ViewBag.BumdFinance as List<int>).Contains((int)ViewBag.UserID);
                    }
                    <div style="line-height: 30px;padding-left: 10px;background: #eee;border: 1px solid #ddd;border-bottom: 0; margin-top: 10px;@(isShow ? "":"display:none;")">财务审批</div>
                    <div class="border-dashed" style="@(isShow ? "":"display:none;")">
                        <form class="form-horizontal pageform">
                            <div class="box-body">
                                <div class="row">

                                    <div class="col-sm-12" style="clear:both">
                                        <div class="form-group">
                                            <label class="col-md-s1 s_layout control-label">
                                                备注：
                                            </label>
                                            <div class="col-md-s2 s_layout">
                                                <textarea type="text" class="form-control " id="FinaRemark" value="" disabled="disabled" style="height: 100px!important;resize: none;"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12" style="">
                                        <div class="form-group">
                                            <label class="col-md-s1 s_layout control-label" style="line-height: 28px;">
                                                附件上传：
                                            </label>
                                            <div class="col-md-s2 s_layout">
                                                <span style="cursor: pointer;display:none" onclick="" id="downloadFile">

                                                </span>
                                                <span style="cursor: pointer; display: none" onclick="" id="uploadfile">
                                                    <i class="fa fa-file  "></i>&nbsp;&nbsp;
                                                </span><i class="fa fa-paperclip" style="cursor: pointer; display: none" onclick="openAtt();" id="AttactNameUp"></i>
                                                <input type="text" class="form-control show" id="AttactName" placeholder="附件上传" value="" style="display: none !important"/>

                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>




        </div>

    </div>
    <div class="box-body" style="padding: 0px 0;">
        <!-- Custom Tabs -->
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab_1" data-toggle="tab">年度配件价格清单<span class="badge bg-red" id="ba1">0</span></a></li>
                <li class=""><a href="#tab_2" data-toggle="tab">年度一般经销商价格-BUI（FKC）<span class="badge bg-red" id="ba2">0</span></a></li>
                <li class=""><a href="#tab_3" data-toggle="tab">年度一般经销商价格-BUI（CS）<span class="badge bg-red" id="ba3">0</span></a></li>
                <li class=""><a href="#tab_4" data-toggle="tab">年度一般经销商价格-BUS<span class="badge bg-red" id="ba4">0</span></a></li>
                <li class=""><a href="#tab_5" data-toggle="tab">年度一般经销商价格-BUT（FKC）<span class="badge bg-red" id="ba5">0</span></a></li>
                <li class=""><a href="#tab_6" data-toggle="tab">年度一般经销商价格-BUT（GZ）<span class="badge bg-red" id="ba6">0</span></a></li>
                <li class=""><a href="#tab_7" data-toggle="tab">阶梯定价<span class="badge bg-red" id="ba7">0</span></a></li>
                <li class=""><a href="#tab_8" data-toggle="tab">打包定价<span class="badge bg-red" id="ba8">0</span></a></li>
                <li class=""><a href="#tab_9" data-toggle="tab">年度特殊经销商价格表<span class="badge bg-red" id="ba9">0</span></a></li>


            </ul>
            <div id="tab_all" class="tab-content" style="padding: 10px 0">
                <div class="tab-pane active" id="tab_1">
                    @Html.Partial("_List1", Model)
                </div>
                <div class="tab-pane " id="tab_2">
                    @Html.Partial("_List2", Model)
                </div>
                <div class="tab-pane " id="tab_3">
                    @Html.Partial("_List3", Model)
                </div>
                <div class="tab-pane " id="tab_4">
                    @Html.Partial("_List4", Model)
                </div>
                <div class="tab-pane " id="tab_5">
                    @Html.Partial("_List5", Model)
                </div>
                <div class="tab-pane " id="tab_6">
                    @Html.Partial("_List6", Model)
                </div>
                <div class="tab-pane " id="tab_7">
                    @Html.Partial("_List7", Model)
                </div>
                <div class="tab-pane " id="tab_8">
                    @Html.Partial("_List8", Model)
                </div>
                <div class="tab-pane " id="tab_9">
                    @Html.Partial("_List9", Model)
                </div>

            </div>
            <!-- /.tab-content -->
        </div>
        <!-- nav-tabs-custom -->
    </div>
    <!-- /.col -->

    <div class="box-body" style="padding: 0px 0;">
        <!-- Custom Tabs -->
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">

                <li class="active"><a href="#tab_10" data-toggle="tab">操作记录</a></li>
                <li><a href="#tab_11" data-toggle="tab">附件</a></li>

            </ul>
            <div class="tab-content" style="padding: 10px 0">

                <!-- /.tab-pane -->
                <div class="tab-pane active" id="tab_10">
                    <div class="netcaretable">
                        <div class="columns  columns-right btn-group pull-left bottombtn" style=" " id="tbar10">
                        </div>
                        <table id="operateinfo"></table>
                    </div>
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="tab_11">
                    <div class="netcaretable">
                        <div class="columns  columns-right btn-group pull-left bottombtn" style=" " id="tbar11">
                            <button class="btn btn-default" type="button" title="增加" id="addAtt" style="display:none" onclick="if($('#SerYearlyPriceId').val()==0){ msg.info('请先保存主数据！');return false;};msg.loadBtn('admin/SysAttachment/Index','新增',700,400);">
                                <i class="fa fa-plus"></i>&nbsp;增加
                            </button>
                            <button class="btn btn-default" type="button" title="删除" id="deleteAtt" style="display:none" onclick="DeleteAtt();">
                                <i class="fa fa-minus"></i>&nbsp;删除
                            </button>

                        </div>
                        <table id="attinfo"></table>
                    </div>
                </div>

                <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
        </div>
        <!-- nav-tabs-custom -->
    </div>
    <!-- /.col -->
</div>
</div>
<script src="~/scripts/numberDelimiter.js"></script>
<script>
    var jsonObj = returnJson('@Html.Raw( _json)')


    var codeType = 1;
    var RecordId, TableName = "T_SerYearlyPrice";
    $(function () {


        if (jsonObj.SerYearlyPriceId != 0) { // 已经保存
            RecordId = jsonObj.SerYearlyPriceId;
            setPageValue(jsonObj);
            canShowSubmit(jsonObj, '@ViewBag.UserID', showDom)//是否需要提交 页面展示
            if (jsonObj.NextApprove == "7927A8CB-D5D1-44FF-9196-31EC30AAFAC2" && jsonObj.Approver == '@ViewBag.UserID') { //判断是否为财务审批节点
                showFina();
            }
            $("#AttactName").val(jsonObj.AttactName);

            if (($("#AttactName").val()) != "") {
                $("#uploadfile").show();
                $("#uploadfile").click(function() {
                    openPdf('/' + $("#AttactName").val())
                });
                //downloadFile
                $("#downloadFile").show();
                $("#downloadFile").append('<a style="text-decoration: underline;cursor: pointer;" href="/' +
                    $("#AttactName").val().replace(".pdf", "") +
                    '"  target="_blank"  ><i class="fa fa-cloud-download"></i></span>&nbsp;&nbsp;');
            }
        } else { //创建
            $("#submit").show();
            $("#save").show();
            $("#Remark").removeAttr("disabled");
            //jsonObj.PolicyType=com_request("Type");
            //$("#PolicyType").find("option[value="+jsonObj.PolicyType+"]").attr("selected",true);
            $('#ApplyPriceType').removeAttr("disabled");
            var date = new Date().Format("yyyy-MM-dd");
            $("#CreateTime").val(date);
            $("#SerYearlyPriceId").val(0);
            $("#_Status").find("option[value='8011']").attr("selected", true);
            $("#EffectEndTime").val("9999-12-31");
            $("#ApplicantId").val('@ViewBag.UserID')
        }

        loadProduct1();
        loadProduct2();
        loadProduct3();
        loadProduct4();
        loadProduct5();
        loadProduct6();
        loadProduct7();
        loadProduct8();
        loadProduct9();
        loadOperate();
        loadAtt();

    })

    function showFina() {
        $("#FinaRemark").removeAttr("disabled");
        $("#AttactNameUp").show();
    }



    function openAtt() {
        msg.loadBtn('admin/SysAttachment/Single', '新增', 700, 400);
    }
    function getAtt(add) {
        $("#AttactName").val(add);
        $("#uploadfile").show();
        $("#uploadfile").click(function() {
            openPdf('/' + add)
        });
        //downloadFile
        $("#downloadFile").show();
        $("#downloadFile").append('<a style="text-decoration: underline;cursor: pointer;" href="/' +
            $("#AttactName").val().replace(".pdf", "") +
            '"  target="_blank"  ><i class="fa fa-cloud-download"></i></span>&nbsp;&nbsp;');
    }
    function showDom() {
        $("#Remark").removeAttr("disabled");
        $('#ApplyPriceType').removeAttr("disabled");
    }




    var dbQueryParamsWorkFlow = function (params) {
        var temp = {};
        temp["PageSize"] = params.limit;
        temp["PageIndex"] = params.offset;
        temp["RecordId"] = $("#SerYearlyPriceId").val();
        temp["TableName"] = "T_SerYearlyPrice";
        return temp;
    };
    function loadOperate() {
        var actionUrl = path + 'service/SerPurhasePolicy/WorkFlowList';
        InitTable($("#operateinfo"), actionUrl, dbQueryParamsWorkFlow, workFlowColumns, "", "", "tbar10");
    }
    var dbQueryParamsAtt = function (params) {
        var temp = {};
        temp["PageSize"] = params.limit;
        temp["PageIndex"] = params.offset;
        temp["RecordId"] = $("#SerYearlyPriceId").val();
        temp["TableName"] = "T_SerYearlyPrice";
        return temp;
    };
    function loadAtt() {
        var actionUrl = path + 'admin/SysAttachment/List';
        InitTable($("#attinfo"), actionUrl, dbQueryParamsAtt, attColumns, "", "", "tbar11");
    }


    /***相关操作**/
    function submitCheck() {
        //	var arrselections = $('#productinfo1').bootstrapTable('getData');
        //if (arrselections.length <= 0) { msg.info('请先保存数据，并添加政策明细!');return;};
        if (jsonObj.NextApprove == "7927A8CB-D5D1-44FF-9196-31EC30AAFAC2") { //判断是否为财务审批节点
            if ($("#FinaRemark").val().length == 0) {
                //msg.info('请填写备注信息!'); return;
            }
            //else if ($("#AttactName").val().length == 0) {
            //    msg.info('请先上传附件!'); return;
            //}
        }
        msg.loadBtn('service/BumdPriceManage/Option?Type=8012', '提交', 600, 400);
    }
    function saveFirst() {
        saveTable('service/BumdPriceManage/DetailModify');
    }
    function savesucess(json) {
        if (json.Msg == "1") {
            var index = parent.layer.getFrameIndex(window.name);
            parent.layer.close(index);
            window.parent.refresh();
            return;
        }
        RecordId = (json.Model.SerYearlyPriceId);
        $("#SerYearlyPriceId").val(json.Model.SerYearlyPriceId);
        $("#ApplyNo").val(json.Model.ApplyNo);
        $("#add").show();
        $("#delete").show();
        $("#import").show();
        for (var i = 1; i < 10; i++) {
            $("#add" + i).show();
            $("#delete" + i).show();
            $("#import" + i).show();
        }
        $("#addAtt").show();
        $("#deleteAtt").show();


    }

    function DeletePro(tablename, id) {
        var arrselections = $("#" + tablename).bootstrapTable('getSelections');
        var ids = Enumerable.From(arrselections).Select("c=>c.SerYearlyPriceListId").ToArray()
        msg.confirm('确认删除', function () {
            ajax.post('service/BumdPriceManage/DeletePro/', { ids: ids }, function () {
                $("#" + id).find("button[name='refresh']").click();
                layer.closeAll()
            })
        });
    }
    function DeleteAtt() {
        var arrselections = $("#attinfo").bootstrapTable('getSelections');
        var ids = Enumerable.From(arrselections).Select("c=>c.SysAttachmentId").ToArray()
        msg.confirm('确认删除', function () {
            ajax.post('admin/SysAttachment/Delete/', { ids: ids }, function () {
                $("#tbar11").find("button[name='refresh']").click();
                layer.closeAll()
            })
        });
    }
    function refreshproductinfo(id) {

        $("#" + id).find("button[name='refresh']").click();
    }

    function refreshatt() {
        $("#tbar11").find("button[name='refresh']").click();
    }
    function refreshlist(_type) {
        $("#tbar" + _type).find("button[name='refresh']").click();
    }

    function closeandfresh() {

        var index = parent.layer.getFrameIndex(window.name);
        parent.layer.close(index);
        window.parent.refresh();
    }
</script>
