<style>
    .col-md-s1 {
        max-width: 140px !important;
        min-width: 140px !important;
        text-align: left !important;
    }

    .hide1 {
        display: none;
    }
</style>

@model T_SerYearlyPriceListView
@{
    var _json = JsonHelper.JsonPaser<T_SerYearlyPriceListView>
      (Model);
}
<div class="content " style="background: white; min-height: 10px">
    <div class="row" style=" margin-bottom 0px;">
        <div class="col-lg-12">
            <div class="">
                <div id="collapse" class="panel-collapse collapse in" aria-expanded="true" style="margin-bottom:10px">
                    <div class="border-dashed ">
                        @using (Ajax.BeginSaveFrom())
                        {
                            <div class="box-body pageform">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label class="col-md-s1 s_layout control-label" for="BUCode">
                                                BU<span style="color:red;font-size:12px">*</span>:
                                            </label>
                                            <div class="col-md-s2 s_layout">
                                                @Html.DropDownList("BUCode", (List<SelectListItem>)ViewBag.Bu, new { @class = "form-control ecombox show", @must = "BU", @disabled = "disabled" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">

                                            <label class="col-md-s1 s_layout control-label" for="ProductCode">
                                                产品编码<span style="color:red;font-size:12px">*</span>:
                                            </label>
                                            <div class="col-md-s2 s_layout">
                                                @Html.DropDownList("ProductCode", (List<SelectListItem>)ViewBag.Product, new { @class = "form-control ecombox show", @must = "产品", @disabled = "disabled" })
                                            </div>
                                        </div>
                                    </div>
                                    <!--<div class="col-sm-12">
                                        <div class="form-group">
                                            <label class="col-md-s1 s_layout control-label" for="ProductName">产品名称<span style="color:red;font-size:12px">*</span>:</label>
                                            <div class="col-md-s2 s_layout">
                                                @Html.TextBoxFor(m => m.ProductName, new {  @class = "form-control ",@disabled="disabled"  })
                                            </div>
                                        </div>
                                    </div>-->
                                    <div class="col-sm-12 hide1 table8">
                                        <div class="form-group">
                                            <label class="col-md-s1 s_layout control-label" for="PackageName">PackageName:</label>
                                            <div class="col-md-s2 s_layout">
                                                @Html.TextBoxFor(m => m.PackageName, new { @class = "form-control " })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 hide1 table8">
                                        <div class="form-group">
                                            <label class="col-md-s1 s_layout control-label" for="PackageCode">PackageCode:</label>
                                            <div class="col-md-s2 s_layout">
                                                @Html.TextBoxFor(m => m.PackageCode, new { @class = "form-control ", @disabled = "disabled" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 hide1 table7 table8">
                                        <div class="form-group">
                                            <label class="col-md-s1 s_layout control-label" for="Number">数量:</label>
                                            <div class="col-md-s2 s_layout">
                                                <input class="form-control show1" data-val="true" data-val-number="字段 数量 必须是一个数字。" data-val-required="数量 字段是必需的。" numberDelimiter disabled="disabled" id="Number" name="Number" type="number" value="@Model.Number">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 hide1 table9 ">
                                        <div class="form-group">
                                            <label class="col-md-s1 s_layout control-label" for="WholesalerCode">经销商编码:</label>
                                            <div class="col-md-s2 s_layout">
                                                @Html.TextBoxFor(m => m.WholesalerCode, new { @class = "form-control show1", @disabled = "disabled", @readOnly = "readOnly" })<i class="fa fa-search inputafter" onclick="wholesalerSearch()"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12  hide1 table9">
                                        <div class="form-group">
                                            <label class="col-md-s1 s_layout control-label" for="WholesalerName">经销商名称:</label>
                                            <div class="col-md-s2 s_layout">
                                                @Html.TextBoxFor(m => m.WholesalerName, new { @class = "form-control ", @readOnly = "readOnly" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label class="col-md-s1 s_layout control-label" for="WholesalerPrice">经销商价格（元）<span style="color:red;font-size:12px">*</span>:</label>
                                            <div class="col-md-s2 s_layout">
                                                <input class="form-control show valid" data-val="true" data-val-number="字段 经销商价格 必须是一个数字。" disabled="disabled" data-val-required="经销商价格 字段是必需的。" numberDelimiter id="WholesalerPrice" must="经销商价格（元）" name="WholesalerPrice" type="number" value="@Model.WholesalerPrice">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12  hide1 table2  table3  table4 table5 ">
                                        <div class="form-group">
                                            <label class="col-md-s1 s_layout control-label" for="SpotDealerPrice">SpotDealer价格（元）:</label>
                                            <div class="col-md-s2 s_layout">
                                                <input class="form-control show1" data-val="true" data-val-number="字段 Spot dealer 价格 必须是一个数字。" data-val-required="Spot dealer 价格 字段是必需的。" numberDelimiter disabled="disabled" id="SpotDealerPrice" name="SpotDealerPrice" type="number" value="@Model.SpotDealerPrice">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 hide1 table9 ">
                                        <div class="form-group">
                                            <label class="col-md-s1 s_layout control-label" for="CustomerCode">终端客户编码:</label>
                                            <div class="col-md-s2 s_layout">
                                                @Html.TextBoxFor(m => m.CustomerCode, new { @class = "form-control show1", @disabled = "disabled", @readOnly = "readOnly" })<i class="fa fa-search inputafter" onclick="customerSearch()"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 hide1 table9 ">
                                        <div class="form-group">
                                            <label class="col-md-s1 s_layout control-label" for="CustomerName">终端客户名称:</label>
                                            <div class="col-md-s2 s_layout">
                                                @Html.TextBoxFor(m => m.CustomerName, new { @class = "form-control ", @readOnly = "readOnly" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 hide1 table1">
                                        <div class="form-group">
                                            <label class="col-md-s1 s_layout control-label" for="CustomerPrice">终端客户价格（元）:</label>
                                            <div class="col-md-s2 s_layout">
                                                <input class="form-control show1 valid" data-val="true" data-val-number="字段 终端客户价格 必须是一个数字。" disabled="disabled" data-val-required="终端客户价格 字段是必需的。" numberDelimiter id="CustomerPrice" name="CustomerPrice" type="number" value="@Model.CustomerPrice">

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 hide1 table9 ">
                                        <div class="form-group">
                                            <label class="col-md-s1 s_layout control-label" for="PayType">付款类型:</label>
                                            <div class="col-md-s2 s_layout">
                                                <select id="PayType" class="form-control ecombox show1" name="PayType" disabled="disabled">
                                                    <option value="12100301" @(Model.PayType == 12100301 ? "selected" : "")>现金</option>
                                                    <option value="12100302" @(Model.PayType == 12100302 ? "selected" : "")>款期</option>
                                                </select>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="form-group">

                                            <label class="col-md-s1 s_layout control-label" for="EffectiveStart">有效期起<span style="color:red;font-size:12px">*</span>: </label>
                                            <div class="col-md-s2 s_layout">
                                                <input class="form-control show datepicker" data-val="true" data-val-date="字段 有效期起 必须是日期。" must="有效期起" disabled="disabled" id="EffectiveStart" name="EffectiveStart" placeholder="有效期起" type="text" value="@(Model.EffectiveStart.HasValue?Model.EffectiveStart.Value.ToString("yyyy-MM-dd") : "")">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">

                                            <label class="col-md-s1 s_layout control-label" for="EffectiveEnd">
                                                有效期止<span style="color:red;font-size:12px">*</span>:
                                            </label>
                                            <div class="col-md-s2 s_layout">
                                                <input value="@(Model.EffectiveEnd.HasValue?Model.EffectiveEnd.Value.ToString("yyyy-MM-dd") : "")" class="form-control show datepicker" data-val="true" data-val-date="字段 有效期起 必须是日期。" must="有效期止" disabled="disabled" id="EffectiveEnd" name="EffectiveEnd" placeholder="有效期止" type="text">

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="form-group">

                                            <label class="col-md-s1 s_layout control-label" for="Remark">备注</label>
                                            <div class="col-md-s2 s_layout">
                                                <textarea class="form-control show" data-val="true" data-val-length="字段 备注 必须是最大长度为 500 的字符串。" data-val-length-max="500" disabled="disabled" id="Remark" name="Remark" placeholder="备注" type="text" style=" height: 130px!important;resize: none;">@Model.Remark</textarea>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12" style="display:none">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.TableType, new { @class = "col-md-s1 s_layout control-label" })
                                            <div class="col-md-s2 s_layout">
                                                @Html.EditorFor(m => m.TableType)
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12" style="display:none">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.SerYearlyPriceId, new { @class = "col-md-s1 s_layout control-label" })
                                            <div class="col-md-s2 s_layout">
                                                @Html.EditorFor(m => m.SerYearlyPriceId)
                                            </div>
                                        </div>
                                    </div>
                                    @Html.HiddenFor(m => m.SerYearlyPriceListId)
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/scripts/numberDelimiter.js"></script>
<script>
    var _type = 0;
    $(function () {
        _type = com_request("type");
        removeOtherBU(_type);
    
        showDom(_type);
        var jsonObj = window.parent.jsonObj;
        var status = $("#_Status", parent.document).val()
        if (canShowDom(jsonObj, '@ViewBag.UserID')) { //全部解锁
            disDom(_type)
            $("#TableType").val(_type);
            $("#SerYearlyPriceId").val($("#SerYearlyPriceId", parent.document).val())
        }
        showlable(_type);

        //初始化input的千位分隔符
        _numberDelimiter.init();
    })
    function showDom(type) {
        $(".table" + type).css("display", "block");
    }
    function disDom(type) {
        $(".show").removeAttr("disabled");
        $(".table" + type).find(".show1").removeAttr("disabled")
    }

    function showlable(type) {
        $(".table" + type).each(function () {
            var obj = this;
            var val = $(obj).find("label").html();
            $(obj).find(".show1").attr("must", val)
            val = val.substring(0, val.length - 1);
            $(obj).find("label").html(val + '<span style="color:red;font-size:12px">*</span>:')
        })

        return;
        var val = $(".table" + type).find("label").html();
        $(".table" + type).find(".show1").attr("must", val)
        val = val.substring(0, val.length - 1);
        $(".table" + type).find("label").html(val + '<span style="color:red;font-size:12px">*</span>:')
    }

    function AcceptClick() {
        if (!checkMust())
            return;
        var serYearlyPriceId = $("#SerYearlyPriceId", parent.document).val();
        var productCode = $("#ProductCode").val();
        var sameProduct = 0;
        //$.ajax({
        //    url: path + 'Service/BumdPriceManage/SameProduct',
        //    type: 'POST',
        //    async: false,
        //    data: {
        //        serYearlyPriceId: serYearlyPriceId,
        //        productCode: productCode
        //    },
        //    success: function(data) {
        //        sameProduct = data.SameProduct;
        //    }
        //});
        //if (sameProduct == 0) {
        //    msg.info("请添加同一产品");
        //    return;
        //}
        $("form").submit();
    }
    function ups() {

        var index = parent.layer.getFrameIndex(window.name);
        parent.layer.close(index);
        window.parent.refreshproductinfo("tbar" + _type);

    }

    $("#WholesalerPrice,#CustomerPrice,#SpotDealerPrice,#Number").keyup(function () {
        var reg = /^\d+\.?(\d{1,2})?$/;
        while (!reg.test($(this).val()) && $(this).val() != "") {
            $(this).val(checkStr($(this).val()));
        }

    });

    function checkStr(str) {
        str = str.substring(0, str.length - 1);
        return str;
    }



    function wholesalerSearch() {

        var customerInfo = {};
        layer.open({
            type: 2,
            title: "选择经销商",
            content: path + 'service/SerSearch/BumdCustomerSearch',
            maxmin: true,
            area: ['80%', '80%'],
            btn: ['确认', '关闭'],
            yes: function (index, layor) {
                customerInfo = $(layor).find("iframe")[0].contentWindow.getSelected()[0];
                // console.log('in...', customerInfo);

                $("#WholesalerCode").val(customerInfo.CustomerCode);
                $("#WholesalerName").val(customerInfo.CustomerName);
                if (isData($("#CustomerCode").attr("disabled")) == false) {
                    $("#CustomerCode").val("");
                    $("#CustomerName").val("");
                }
                // $("#CustomerSinName").val(customerInfo.SerCustomer.CustomerShortName);

                // $("#CreditCategory").val(customerInfo.SerCustomerPriceCredit != null ? customerInfo.SerCustomerPriceCredit.CreditType : "");
                // $("#AccountPeriod").val(customerInfo.SerCustomerPriceCredit != null ? customerInfo.SerCustomerPriceCredit.AccountPeriod : "");
                // $("#Discount").val(customerInfo.SerCustomerPriceCredit != null ? customerInfo.SerCustomerPriceCredit.Discount : "");
                // $("#DiscountTerm").val(customerInfo.SerCustomerPriceCredit != null ? customerInfo.SerCustomerPriceCredit.DiscountTerm : "");
                layer.close(index);
            }
        });
        return customerInfo;


    }


    function customerSearch() {
        var code = $("#WholesalerCode").val();
        if (!isData($("#WholesalerCode").val())) {
            msg.info("请先选择经销商！");
            return;
        }
        var customerInfo = {};
        layer.open({
            type: 2,
            title: "选择终端客户",
            content: path + 'service/SerSearch/BumdCustomerSearch?type=1&code=' + code,
            maxmin: true,
            area: ['80%', '80%'],
            btn: ['确认', '关闭'],
            yes: function (index, layor) {
                customerInfo = $(layor).find("iframe")[0].contentWindow.getSelected()[0];
                // console.log('in...', customerInfo);

                $("#CustomerCode").val(customerInfo.CustomerCode);
                $("#CustomerName").val(customerInfo.CustomerName);

                layer.close(index);
            }
        });
        return customerInfo;


    }



    //移除不需要的bu
    function removeOtherBU(id) {
        $("#BUCode option[value='CC05']").remove();
        $("#BUCode option[value='CC06']").remove();
        id = parseInt(id, 10);
        switch (id) {
            case 1:
                $("#BUCode").empty();
                $("#BUCode").html('<option value="CC04">FKC 其他</option>');
                break;
            case 2:
            case 3:
                $("#BUCode").empty();
                $("#BUCode").html('<option value="CC03">FKC BUI</option>');
                break;
            case 4:
                $("#BUCode").empty();
                $("#BUCode").html('<option value="CC01">FKC BUS</option>');
                break;
            case 5:
            case 6:
                $("#BUCode").empty();
                $("#BUCode").html('<option value="CC02">FKC BUT</option>');
                break;
        }
        /*<option value="CC01">FKC BUS</option>
        <option value="CC02">FKC BUT</option>
        <option value="CC03">FKC BUI</option>
        <option value="CC04">FKC 其他</option>
        <option value="CC05">FKC-BUT维保费</option>
        <option value="CC06">FKC-BUS维保费</option>*/

    }

    $("#ProductCode").select2({
        placeholder: '请选择',
        language: {
            noResults: function (params) {
                return "暂无数据";
            }
        }
    })
</script>
<style>

</style>